@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Roboto&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.sidebar {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border: none;
  background: url("https://i.ibb.co/GQByDtP/bacground.jpg") center/cover;
  overflow: hidden;
  color: #f2f2f2;
  min-height: 100vh;
}

.profileImage {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.introParagraph {
  margin-top: 20px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contactInfo {
  margin-top: 20px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .introParagraph {
    font-size: 1rem;
  }

  .contactInfo {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .introParagraph {
    font-size: 1.6rem;
  }

  .contactInfo {
    font-size: 1.2rem;
  }
}

.content {
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
}

.welcomeHeader {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}

.skillsParagraph {
  margin: 1rem;
  font-size: 26px;
  font-weight: 400;
}

.contributionParagraph {
  margin-bottom: 20px;
  font-size: 22px;
}

.readyParagraph {
  margin-bottom: 20px;
}

.exploreButton {
  padding: 10px 20px;
  background-color: #8b0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    max-width: none;
  }
}

/* =============================================== */
